body, html {
background-color: rgba(78, 70, 64, 0.089);
font-family: Montserrat;
margin: 0;
padding: 0;
width: 100%;
height: 100%;
display: grid;
font-weight: 500;
}

.header {
    position: relative;
    background-color: rgb(206, 200, 195);
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}

.header p {
    font-size: 14px;
    color: rgb(46, 40, 33);
}

.menu {
    background-color: rgba(145, 164, 180, 0.24);
    top: 200px;
    margin: 0 20px 20px 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

.menu img {
    width: 40%;
    float: right;
    border-radius: 10px;
    border: 2px solid rgb(97, 71, 46)
    

}


h1, h2, h3, strong {
    color: rgb(97, 71, 46);
}


