html, body {
background-color: rgba(78, 70, 64, 0.089);
font-family: Montserrat;
margin: 0;
padding: 0;
font-weight: 500;
}

.header {
    background-color: rgb(206, 200, 195);
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    grid-area: header;
}

.header p {
    font-size: 14px;
    color: rgb(46, 40, 33);
}

.img-co {
    grid-area: imgco;
    display: flex;    
    align-items: center;

}

.img-item {
    display: flex;
    justify-content: center;

}


.img1 {

    max-width: 75%;
    border-radius: 4px;
    
    

} 

.menu {
    grid-area: menustan;
    background-color: rgba(145, 164, 180, 0.24);
}

.menu-items {
    padding: 10%;
}


.footer{
    grid-area: footermenu;
}
.container {
    display: grid;
    grid-template-areas: 
    'header header header'
    'menustan imgco imgco'
    'footermenu footermenu footermenu';
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1vh;
}

@media (max-width:1000px) 
{ .container {
    grid-template-areas: 
        'header header'
        'imgco imgco'   
        'menustan menustan'
        'footermenu footermenu';
    grid-template-columns: 1fr 1fr; 
}
    
}

h1, h2, h3, strong {
    color: rgb(97, 71, 46);
}

.contact {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh

}

.website {
    color: black;
}